* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s;
}

body {
    margin: 0;
    padding: 0;
    background-color: #014E56;
    font-family: "Livvic", sans-serif;
}

img {
    object-fit: cover;
}