.aside-section {
 background-color: #F67E7E;
 padding: 76px 0;
 background-image: url(../images/aside-bg.svg);
 background-size: 200px 244px;
 background-repeat: no-repeat;
 background-position-y: 62px;
 background-position-x: -55px;
}

.aside {
 display: flex;
 align-items: center;
 justify-content: space-around;
}

.aside__title {
 font-weight: 700;
 font-size: 48px;
 line-height: 48px;
 color: #012F34;
}

.aside__btn {
 padding: 9px 33px 11px 32px;
 text-decoration: none;
 font-weight: 600;
 font-size: 18px;
 line-height: 28px;
 color: #012F34;
 border: 2px solid #012F34;
 border-radius: 24px;
}

@media only screen and (max-width: 1010px) {
 .aside-section {
  background-position-y: 85px;
 }
}

@media only screen and (max-width: 768px) {
 .aside-section {
  padding: 84px 58px;
  background-position-y: 100px;
 }

 .aside__title {
  font-size: 32px;
  line-height: 32px;
 }
}

@media only screen and (max-width: 700px) {
 .aside-section {
  padding: 84px 0px;
 background-position-y: 155px;

 }

 .aside {
  flex-direction: column;
 }

 .aside__title {
  margin-bottom: 24px;
 }
}

@media only screen and (max-width: 383px){
 .aside-section{
  background-position-y: 188px;
 }
 
}