.site-footer {
 padding: 48px 0;
 background-color: #002529;
}

.footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.footer__content {
 width: 450px;
 display: flex;
 justify-content: space-between;
}

.footer__logotip-wrapper {
 display: flex;
 flex-direction: column;

 img {
  margin-bottom: 25px;
 }
}

.footer__p-wrapper {
 display: flex;
 gap: 40px;
}

.link {
 display: inline-block;
 text-decoration: none;
 font-weight: 600;
 font-size: 18px;
 line-height: 28px;
 color: #FFFFFF;
}

.link:hover {
 color: #F67E7E;
}

address {
 width: 164px;
 font-weight: 600;
 font-size: 15px;
 line-height: 25px;
 color: #FFFFFF;
 mix-blend-mode: normal;
 opacity: 0.6;

 a {
  color: #FFFFFF;
  text-decoration: none;
 }
}

.footer__logo {
 width: 160px;
 height: 40px;
}

.footer__logo {
 display: flex;
 flex-direction: column;
}

.logo-link+.logo-link {
 padding-left: 16px;
}

.logo__wrapper {
 margin-bottom: 51px;
 text-align: right;

 a {
  text-decoration: none;
  display: inline-block;
 }
}

.logo-link:hover path {
 fill: #F67E7E;
}

.copyright {
 font-weight: 600;
 font-size: 15px;
 line-height: 25px;
 color: #FFFFFF;
 mix-blend-mode: normal;
 opacity: 0.6;
}

@media only screen and (max-width: 768px) {
 .footer {
  flex-direction: column;
 }

 .footer__content {
  margin-bottom: 32px;
  width: 100%;
  justify-content: space-between;
 }

 .footer__logotip-wrapper {
  margin-bottom: 0;
 }

 .footer__p-wrapper {
  justify-content: space-between;
 }

 .footer__logo {
  width: 96px;
  height: 24px;
 }

 .footer__logo {
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
 }

 .logo__wrapper {
  margin-bottom: 0;
 }
}

@media only screen and