.team-section {
 padding: 140px 0;
 background-color: #012f34;
}

.team .line {
 margin-bottom: 54px;
 background: #F67E7E;
}

.team__title {
 width: 445px;

 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
 }

}

.team__content {
 display: flex;
 justify-content: space-between;
}

.team__list {
 list-style: none;
}

.team__item {
 position: relative;
 width: 430px;

 h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
 }

 p {
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
 }
}

.team__item:nth-child(1),
.team__item:nth-child(2) {
 margin-bottom: 32px;
}

.team__item p::before {
 margin-bottom: 32px;
 content: "";
 background-image: url(../../images/team1.svg);
 background-repeat: no-repeat;
 display: block;
 width: 72px;
 height: 72px;
 position: absolute;
 top: 0;
 left: -105px;
}

.team__item:nth-child(2) p::before {
 background-image: url(../../images/team2.svg);
}

.team__item:nth-child(3) p::before {
 background-image: url(../../images/team3.svg);
}



@media only screen and (max-width: 1000px) {
 .team-section {
  padding: 100px;
 }

 .team .line {
  margin-bottom: 32px;
  display: block;
 }

 .team__title {
  margin-bottom: 64px;
  width: 100%;

  h2 {
   font-size: 32px;
   line-height: 32px;
  }
 }

 .team__content {
  flex-direction: column;
  align-items: flex-start;
 }

 .team__list {
  margin: 0 0 0 100px;
 }

 .team__item {
  width: 95%;

  h3 {
   font-size: 18px;
   line-height: 28px;
  }

  p {
   font-size: 15px;
   line-height: 25px;
  }
 }
}


@media only screen and (max-width: 650px) {
 .team-section {
  padding: 64px 0;
 }

 .container {
  padding: 0 24px;
 }

 .team__title {
  margin-bottom: 144px;
  width: 240px;
 }

 .team__list {
  margin: 0;
 }

 .team__item {
  width: 100%;
  text-align: center;
 }

 .team__item+.team__item {
  margin-top: 136px !important;
 }

 .team__item p::before {
  top: -90px;
  left: 0;
  right: 0;
  margin: 0 auto;
 }

}